body {
  max-width: 1900px;
    height: 1080;
  background-color: rgb(230, 230, 230);
  padding: 10px;
    margin: auto;
}

.Link {
  text-decoration: none;
}

.headerContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 30px;
  text-transform: uppercase;
}

.headerLogo {
  font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
  color: rgb(24, 24, 27);
}

.search {
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: stretch;
  align-self: center;
}

.darkmode {
  grid-column-start: 5;
  color: brown;
  justify-self: Right;
  align-self: center;
}

.searchForm {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.searchInput {
  width: 100%;
  background-color: transparent;
  height: 56px;
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: rgb(24, 24, 27);
}

.searchButton {
  background-color: transparent;
  border: none;
  color: brown;
}

.searchButton:disabled {
  color: darkgray;
}

.navLinksContainer {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 14px;
  line-height: 16px;
  gap: 10px;
  padding: 16px 0px;
  width: 100%;
  text-align: center;
  border-top: 1px solid darkred;
}

.navLink {
  font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: rgb(24, 24, 27);
}

.navLink:hover,
.navLinkActive {
  text-decoration-line: underline;
  text-decoration-color: darkred;
  text-underline-offset: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.newsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    width: 100%;
}

.articleContainer {
  display: flex;
  flex-direction: row;
  background-color: #fff;
    box-shadow: 3px 3px 10px darkgrey;
}

.articleImage {
  height: 330px;
    width: 300px;
  object-fit: cover;
}

.articleText {
  position: relative;
  height: 100%;
}
.articleTitle {
  font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 700;
  padding: 0px 15px;
  margin-top: 0;
}

.articleDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0px 15px;
}

.articleDetails {
  font-style: italic;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: darkred;
  padding: 0px 15px;
  }
  
.readmoreContainer {
  position: absolute;
  bottom: 20px;
    right: 20px;
  }
  
  .readmore-btn {
    height: 40px;
    width: 100px;
    background-color: darkred;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  .readmore-btn:hover {
    background-color: transparent;
    border: 1px solid darkred;
    border-radius: 25px;
    color: darkred;
}
@media only screen and (max-width: 1200px) {
  .articleImage {
    width: 250px;
  }

  .articleTitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 970px) {
  .articleImage {
    width: 200px;
  }

  .articleTitle {
    font-size: 14px;
  }

  .articleDescription {
    -webkit-line-clamp: 2;
  }
}

@media only screen and (max-width: 800px) {
  .newsList {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .articleImage {
    width: 330px;
  }

  .articleTitle {
    font-size: 22px;
  }

  .articleDescription {
    -webkit-line-clamp: 4;
  }
}

@media only screen and (max-width: 650px) {
  .search {
    display: none;
  }

  .navLinksContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .articleImage {
    width: 250px;
  }

  .articleTitle {
    font-size: 20px;
  }

  .articleDescription {
    -webkit-line-clamp: 3;
  }
}

@media only screen and (max-width: 500px) {
  .articleContainer {
    flex-direction: column;
    height: 420px;
  }

  .articleImage {
    width: 100%;
    height: 200px;
  }

  .articleTitle {
    font-size: 16px;
  }

  .articleDescription {
    -webkit-line-clamp: 2;
  }
}

@media only screen and (max-width: 360px) {
  .articleContainer {
    height: 380px;
  }

  .articleImage {
    height: 150px;
  }
}