body {
  background-color: rgb(230, 230, 230);
}

.childrenContainer {
  margin: 10px;
}

.Link {
  text-decoration: none;
}

.headerContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 30px;
  text-transform: uppercase;
}

.headerLogo {
  font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
  color: rgb(24, 24, 27);
}

.search {
  grid-column-start: 2;
  grid-column-end: 5;
  justify-self: stretch;
  align-self: center;
}

.darkmode {
  color: brown;
  justify-self: Right;
  align-self: center;
}

.searchForm {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.searchInput {
  width: 100%;
  background-color: transparent;
  height: 56px;
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: rgb(24, 24, 27);
}

.searchButton {
  background-color: transparent;
  border: none;
  color: brown;
}

.searchButton:disabled {
  color: darkgray;
}
.navLinksContainer {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 14px;
  line-height: 16px;
  gap: 10px;
  padding: 16px 0px;
  width: 100%;
  text-align: center;
  border-top: 1px solid darkred;
}

.navLink {
  font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: rgb(24, 24, 27);
}

.navLink:hover,
.navLinkActive {
  text-decoration-line: underline;
  text-decoration-color: darkred;
  text-underline-offset: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.newsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  padding: 10px;
  width: 100%;
}

.articleContainer {
  display: flex;
  flex-direction: row;
    background-color: #fff;
    height: 330px;
    position: relative;
    box-shadow: 3px 3px 10px darkgrey;
}

.articleImage {
  height: 330px;
    width: 300px;
  object-fit: cover;
}

.articleTitle {
  font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 700;
  padding: 0px 15px;
    margin-top: 0;
}
.articleDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0px 15px;
}

.articleDetails {
  font-style: italic;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: darkred;
    padding: 0px 15px;
  }
  
  .readmoreContainer {
    position: absolute;
    bottom: 0;
    right: auto;
    left: auto;
    width: 386px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .readmore-btn {
    height: 40px;
    width: 100px;
    background-color: darkred;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  .readmore-btn:hover {
    background-color: transparent;
    border: 1px solid darkred;
    border-radius: 25px;
    color: darkred;
}